@media (max-width: 768px) {

.navbar-brand {
	padding-bottom: 3% !important;
	width: 100% !important;
	height: 100% !important;
}
#my-navbar {
	height: 60px;
	margin-top: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	width: 100% !important;
}
.navbar-brand img {
	position: absolute;
	top: 2px;
	width: 80%;
	height: 100%;
	right: 20%;
}
.navbar-collapse {
	margin-top: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	width: 100% !important;
	height: 100% !important;
}
.navbar-nav {
	background: #FFF;
	color: #000;
	margin-top: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	width: 100% !important;
	height: 100% !important;
}
.navbar-nav a {
	margin: 0px !important;
	width: 100% !important;
	height: 100% !important;
	color: #000 !important;
	text-align: center;
}









.carousel-caption h3 {
	color: #FFF;
	margin-top: -160% !important;
	padding: 0px !important;

}

.carousel-caption img {
	width: 60% !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}

.carousel-caption p {
    font-size: 18px;
    top: 0;
    bottom: 0;
    margin: 0px !important;
	padding: 0px !important;

}

.carousel-caption a {
	font-size: 14px;
}





.about-us {
  padding-bottom: 8%;
}

.parallax1, .parallax2, .parallax3 {
  background-position: center center !important;
}
.parallax3 {
  height: 100%;

}
.quote .container {
  font-size: 20px;
}

.castellum img {
  width: 50%;

}

.castellum {
  padding: 6%;
}
.castellum p {

  margin-bottom: 5%;
  width: 90%;

}

}